/* div {
    border: solid;
} */

#analizSonrasi {
    display: none;
}


/* #kelime5 {
    display: inline-block;
    background-color: green;
}

#kelime0 {
    display: inline-block;
    background-color: yellow;
}
 */

.col-sm {
    display: inline;
}




